.ctrl {
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#29ffc6,
		#20e3b2,
		#0cebeb
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#29ffc6,
		#20e3b2,
		#0cebeb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 30px auto;
	height: 50px;
	padding: 10px 40px;
	border-radius: 15px;
}

.ctrl-inp {
	margin-right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.ctrl-label {
	font-size: 20px;
	font-weight: 500;
}

.ctrl-task-icon {
	margin-left: 10px;
}

@media screen and (max-width: 500px) {
	.ctrl {
		padding: 5px 25px;
		display: flex;
		align-items: center;
	}

	.ctrl-inp {
		width: 16px;
		height: 16px;
		background: #292929;
		margin-right: 10px;
		color: #fffaff;
	}

	.ctrl-label {
		font-size: 16px;
		line-height: 0;
	}

	.ctrl-task-icon {
		margin-left: 5px;
	}
}
