.task-creator {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	height: 90px;
	width: auto;
}

.creator-inp {
	height: 50px;
	width: 90%;
	border-radius: 15px 0 0 15px;
	border: 0;
	outline: 0;
	padding-left: 25px;
	color: #1f2831;
	font-weight: 400;
	background: #ece9e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#ffffff,
		#ece9e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#ffffff,
		#ece9e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.creator-inp::placeholder {
	font-size: 17px;
	opacity: 0.5;
	letter-spacing: 0.5px;
	color: #383e56;
	font-weight: 600;
}

.creator-inp:focus {
	background: #ece9e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffffff,
		#ece9e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffffff,
		#ece9e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.creator-btn {
	width: 135px;
	height: 50px;
	border: 0;
	border-radius: 0 15px 15px 0;
	text-shadow: 0.5px 0px 3px rgba(0, 0, 0, 0.2);
	font-size: 18px;
	font-weight: 700;
	color: #ecfcff;
	cursor: pointer;
	outline: 0;
	background: #0ba360;
	transition: all 0.2s ease-out;
}

.creator-btn:hover {
	background: #55caa5;
}

.creator-btn-icon {
	margin-right: 10px;
	transition: 0.4s ease;
}

.creator-btn-icon:hover {
	transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
	.creator-inp {
		font-size: 12px;
		padding-left: 10px;
	}

	.creator-inp::placeholder {
		font-size: 12px;
	}

	.creator-btn {
		font-size: 13px;
	}
}
