.App {
	padding: 35px;
}

.table {
	width: 100%;
	background: #f1f1ed;
	margin-top: 40px;
	border-radius: 15px;
	padding: 20px 35px;
}

.thead-tr {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 600;
	color: #222831;
	margin-bottom: 20px;
}

.thead-icon {
	margin-right: 10px;
}

.table-row {
	margin-bottom: 20px;
}

.table-complete {
	background: #7dc9fb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom left,
		#ffffff,
		#6dd5fa,
		#2980b9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom left,
		#ffffff,
		#6dd5fa,
		#2980b9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-done,
.app-desc {
	transition: all 0.15s ease;
}

.app-done:hover {
	color: rgb(101, 223, 182);
	text-shadow: 0.2px 0 2px rgba(0, 0, 0, 0.1);
}

.app-desc:hover {
	color: #33425b;
}

@media screen and (max-width: 500px) {
	.App {
		padding: 20px 10px;
	}

	.table {
		padding: 15px 8px;
		margin-top: 20px;
	}

	.thead-tr {
		font-size: 13px;
	}
}
